<%= form_for([@post,@post.comments.build]) do |f| %>


  <div class="field">
    <%= f.label :Name %>
    <%= f.text_field :Name %>
  </div>

  <div class="field">
    <%= f.label :Description %>
    <%= f.text_area :Description %>
  </div>

  <div class="field">
    <%= f.label :post_id %>
  </div>

  <div class="actions">
    <%= f.submit 'Add Comment' %>
  </div>
<% end %>
